5LettersBin/bin/**
5LettersBin/obj/**
5LettersBot/bin/**
5LettersBot/obj/**
5LettersBot/appsettings.Development.json
5LettersLib/bin/**
5LettersLib/obj/**
WebHookSetter/bin/**
WebHookSetter/obj/**
.vscode/**
